/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box /* Ajustar el modelo de caja a border-box */;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 0; /* Ajustar margen superior a 0 */
    margin-bottom: 0; /* Ajustar margen inferior a 0 */
    border: auto;
    padding: auto;


    padding-top: calc(0px); /* Ajusta este valor según el tamaño de tu encabezado */

}

/*.test-productos-body{
    padding-top: 100px;
}
.test-nosotros-body{
    padding-top: 100px;
}*/

.logo {
    font-size: 24px;
    margin-right: 20px;
}


.hero {
    background-image: url('IMG_8262.JPEG'); /* Establecer la imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el área */
    background-position: center; /* Centrar la imagen de fondo */
    padding: 370px 0 100px; /* Añadir relleno inferior para espacio */
    text-align: center;
    margin-bottom: 50px;
    overflow: auto;
    margin-top: 50px;  
}


.hero-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.btn-primary {
    background-color: #007bff;
}

/* Estilos de las secciones */
.section-title {
    font-size: 28px;
    margin-bottom: 30px;
}

/* Estilos del pie de página */
.footer {
    background-color: rgb(78, 102, 114);
    color: #fff;
    padding: 20px 20px;
    text-align: center;
}

/* Estilos de los cuadros flotantes */
.cuadros-flotantes {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 999;
}

.cuadro-flotante {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cuadro-flotante:hover {
    background-color: #0056b3;
}

/* Resto de los estilos permanecen igual */

/* Estilos de los botones flotantes */
.btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.btn-flotante a {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-flotante a:hover {
    background-color: #0056b3;
}

/* Estilos de la navegación */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    display: inline;
}

.nav-links li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease;
}

.nav-links li a:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
    color: #007bff;
}


/* Resto de los estilos permanecen igual */

.align-left {
    text-align: left;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.logo {
    width: 200px; /* Tamaño inicial del logo */
    height: auto; /* Para mantener la proporción */
    display: block;
    transition: width 0.3s ease; /* Animación de cambio de tamaño */
}



.logo-text {
    margin-left: 10px;
    display: inline;
    transition: opacity 0.3s ease;
}

.scrolled .logo {
    width: 150px; /* Tamaño del logo cuando se hace scroll */
}

.scrolled .logo-text {
    opacity: 0; /* Ocultar el texto del logo cuando se hace scroll */
}







.header {
    display: flex; /* Hacer que el header sea un contenedor de tipo flex */
    justify-content: space-between; /* Alinear elementos al principio y al final del header */
    align-items: center; /* Alinear verticalmente los elementos en el centro */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(Header5.svg);
    /*background-color: #4e6672;*/
    /*background-color: rgb(78, 102, 114);;*/ /* Color Propuesto 2*/
    /*background-color: rgb(112, 120, 124);*/ /* Color actual del header */
    /*background-color: #333;*/ /* Color de viejo fondo del header */
    /*background-color: rgb(94, 123, 138);*/ /* Color Propuesto */
    color: #fff;
    padding: 20px 0;
    z-index: 1000;
    transition: padding-right 0.3s ease;
    text-align: right; /* Alineación del texto hacia la derecha */
    margin-bottom: 0;

    /*transition: all 0.5s ease;*/

}


.container {
    width: 100%;
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto;
    padding-top: 0px; /* Relleno superior para evitar superposición con el header */
}


.main-content {
    margin-top: 120px; /* Igualar al altura del header */
    padding-top: 20px; /* Relleno superior adicional para el contenido */
}

@media screen and (max-width: 768px) {
    .header {
        padding: 38px 0; /* Ajustar el padding para pantallas más pequeñas */
    }

    .main-content {
        margin-top: 90px; /* Ajustar el margen superior para pantallas más pequeñas */
    }
}



.scrolled .nav-links {
    position: absolute; /* Cambiar la posición del nav bar */
    top: 50%; /* Alinear el nav bar verticalmente en el centro */
    transform: translateY(-50%); /* Corregir la posición para centrarlo correctamente */
    right: 20px; /* Posicionar el nav bar a 20px del borde derecho */
}






@media screen and (max-width: 768px) {
    .main-content {
        margin-top: 240px; /* Ajustar margen superior para pantallas más pequeñas */
    }
}

.contacto-container {
    width: 80%; /* Ampliar el contenedor de contacto */
    margin: auto; /* Centrar el contenedor de contacto */
    margin-top: 100px;
    padding-top: 27px; 
}

.contacto-form {
    margin-top: 20px;
}
.contacto-form input,
.contacto-form textarea,
.contacto-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
}
.contacto-form select {
    width: calc(100% - 20px); /* Restar el padding para mantener la anchura total */
}





.whatsapp-burbuja {
    position: fixed;
    bottom: 20px; /* Ajusta la posición vertical según sea necesario */
    right: 20px; /* Ajusta la posición horizontal según sea necesario */

    padding: 10px;
    border-radius: 20px; /* Haz que el borde sea más redondeado */
    
    display: flex;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    transition: opacity 0.5s ease, background-color 0.3s ease; /* Transición suave de opacidad y color de fondo durante 0.5 y 0.3 segundos respectivamente */
    opacity: 0; /* Inicialmente, el recuadro tendrá una opacidad de 0 */
}







/* Animaciones Formulario Contacto */
@keyframes success {
    0% { color: green; opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes error {
    0% { color: red; opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.hero .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* Agrega esto si quieres una sombra alrededor del recuadro */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#nosotros {
    padding-bottom: 50px;
}

#productos {
    padding-bottom: 50px;
}


.section-title {
    margin-bottom: 10px; /* Ajusta este valor a lo que necesites */
}

/* O ajusta el margen superior del párrafo */

.logo-and-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.copyright {
    margin-top: 50px;
}



.quienes-somos {
    padding-top: calc(110px + 1em); /* Ajusta este valor según el tamaño de tu encabezado */
    padding-bottom: 50px;
    width: 100%;
}

#nuestra-mision {
    padding-bottom: 50px;
}

#nuestros-valores {
    padding-bottom: 50px;
}

#nuestro-equipo {
    padding-bottom: 50px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 0 30%; /* Esto hace que cada producto ocupe al menos el 30% del ancho del contenedor, permitiendo que se muestren tres productos por fila */
    margin: 1%; /* Esto agrega un pequeño margen alrededor de cada producto para evitar que se toquen */
}

.product img {
    width: 100%;
    height: 200px; /* Ajusta esto a la altura que desees */
    object-fit: cover;
    transition: 0.3 ease-in-out;
}

@media (max-width: 600px) {
    .product {
        flex: 1 0 100%; /* Esto hace que cada producto ocupe el 100% del ancho del contenedor en vistas móviles, lo que significa que solo se mostrará un producto por fila */
    }
}

@media (max-width: 600px) {
    .product img {
        flex: 1 0 100%;
    }
}

.product-image {
    display: block;
    margin: 0 auto;
    width: 50%;
}


hr {
    width: 95%;
    margin: 0 auto;
    margin-top: 60px;
    margin: 20px;
}


.test-productos-body {
    margin-top: 100px;
}


.test-nosotros-body .test-nosotros {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px;
    text-align: justify;

}

.product-image {
    display: block;
    margin: 0 auto;
    width: 50%; /* Ajusta el tamaño de la imagen */
}

.box {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Añade bordes redondeados */
    padding: 20px; /* Añade un poco de espacio alrededor del texto */
    background-color: #fff; /* Añade un color de fondo */
    margin: 10px;
    text-align: justify;
}

#contacto {
    text-align: justify;
    padding-bottom: 50px;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.spacer {
    aspect-ratio: 960 / 540; /* Ajusta la relación de aspecto según tus necesidades */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.layer1 {
    background-image: url('Waves.svg');
}




/*Inicia Boton WhatsApp*/
:root {
    --dark-color: #333;
    --light-color: #007bff;
}
svg {
    cursor: pointer;
}
#Logo-extendido {
    fill: var(--dark-color);
}
#Logo-extendido:hover {
    fill: var(--light-color);
}
#Logo-extendido{
    opacity: 0;
    transition: ease 0.3s;
}
#LogoWsp {
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
#LogoWsp {
    transform: translateX(0%);
}

svg:hover #LogoWsp {
    transform: translateX(-33%);
    opacity: 1;
}

svg:hover #Logo-extendido {
    opacity: 1;
    transition: ease 0.3s;
}

#ContenedorWsp {
    transition: all 0.3s ease-in-out;
    transform: translateX(0%);
    opacity: 1;
    fill: var(--light-color)
}
svg:hover #ContenedorWsp {
    transform: translateX(-33%);
    opacity: 0;
}
/*Termina Boton WSP*/


.container-nosotros {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.text-section {
    width: 50%;
    margin-left: 80px;
    text-align: justify;
    /* Añade el padding que necesites aquí */
}

.image-section {
    width: 30%;
    height: 30%;
    align-self: center;
    align-items: center;
    margin-right: 5%; /* Ajusta este valor según lo necesites */
    /* Añade el padding que necesites aquí */
}
.image-section img {
    width: 100%;
    height: auto;
}

#BtnContacto{
    padding: 50px;
}


/* Establece el padding para dispositivos de escritorio */
.quienes-somos, #nuestra-mision, #nuestro-equipo, #nuestros-valores {
    padding: 20px;
    width: 100%;
    height: auto;
    text-align: justify;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.quienes-somos{
    padding-top: 100px;
}

/* Cambia el padding para dispositivos móviles */
@media (max-width: 600px) {
    .quienes-somos, #nuestra-mision, #nuestro-equipo, #nuestros-valores {
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .quienes-somos{
        padding-top: 100px;
    }
}

#fotos {
    padding-bottom: 50px;
}




.abrir-menu, 
.cerrar-menu {
    display: none;
    margin-left: 40px;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}


.container-cerrar{
    display: none;
}

.abrir-menu {
    color: black;
    }

    
.cerrar-menu {
    color: white;
}

.abrir-menu img{
    width: 40px;
    height: 40px;
    background-color: #1c1c1c;
}

@media screen and (max-width: 768px) {
    .abrir-menu,
    .cerrar-menu{
        display: block;
    }

    

    .container-cerrar{
        display: block;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; /*Cuando este esta activo, el menu se despliega "incompleto" */
        /* background-image: url(Header5.svg); */
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
        transition: visibility 0.3s;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav.visible .abrir-menu {
        display: none;
    }

    .nav.visible .cerrar-menu {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-links li a {
        color: white;
    }

    .nav.visible .nav-links li {
        animation: slideIn 0.5s forwards;
    }

    .nav.visible .nav-links li:nth-child(1) {
        animation-delay: 0.1s;
    }

    .nav.visible .nav-links li:nth-child(2) {
        animation-delay: 0.2s;
    }

    .nav.visible .nav-links li:nth-child(3) {
        animation-delay: 0.3s;
    }

    .nav.visible .nav-links li:nth-child(4) {
        animation-delay: 0.3s;
    }
    

    .nav .nav-links li {
        opacity: 0;
    }
    /* Continúa para el resto de los elementos de la lista */

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}






.button {
    position: relative;
    width: 4em;
    height: 4em;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
  }
  
  .X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
  }
  
  .Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
  }
  
  .close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
  }
  
  .button:hover {
    background-color: rgb(211, 21, 21);
  }
  
  .button:active {
    background-color: rgb(130, 0, 0);
  }
  
  .button:hover > .close {
    animation: close 0.2s forwards 0.25s;
  }
  
  @keyframes close {
    100% {
      opacity: 1;
    }
  }

  .button{
    background-color:  #1c1c1c;
    border: 0;
  }


  
  /* Boton abrir menu */

  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(253, 255, 243);
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  /* #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  } */
  
  #checkbox:checked + .toggle #bar2 {
    transform: translateY(14px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
  }
  
  #checkbox:checked + .toggle #bar1 {
    transform: translateY(28px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
  }
  
  #checkbox:checked + .toggle {
    transform: rotate(-90deg);
  }
  /* #checkbox:checked + .toggle #bar3 {
    transform: rotate(90deg);
    transition-duration: .3s;
    transform-origin:right;
  } */
  

.logo-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .test-nosotros-body {
        padding-top: 20px;
    }
    .quienes-somos{
        margin-top: 75px;
        padding: 35px;
    }
    #nuestra-mision, #nuestros-valores, #nuestro-equipo {
        padding: 35px;
    }
    #nuestro-equipo{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .test-productos-body {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .producto-img {
        width: 100%;
        height: auto;
        object-fit: contain; /* Asegura que la imagen se ajuste a su contenedor manteniendo su aspecto */
    }
}

@media screen and (max-width: 768px) {
    .logo-container {
        margin-left: 20px;
    }
}



.product img {
    transition: opacity 0.5s ease-in-out;
}

.product img:hover {
    opacity: 0.5;
}





/* Revisar Nav y Header, Posible funcionamiento */

@media screen and (max-width: 768px) {
    #nav-cerrar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}